@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  --background: #BFEDEF;
  --background-dark: #100e17;
  --foreground: black;
  --foreground-dark: white;
  --test: black;
  --border: #ff6b6b;
  --border-dark: #00F5D4;
  background-color: var(--background);
  overflow: auto;
}

* {
  transition: 150ms linear !important;
}

body::-webkit-scrollbar {
  display: none;
}

#mdel::-webkit-scrollbar {
  background-color: none;
  height: 5px;
  margin-bottom: 5px;
}

#mdel::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

button {
  background-color: var(--background);
  border: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 25px;
  color: var(--border);
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

button > b,
i {
  color: var(--border) !important;
}

textarea {
  background-color: var(--background);
  border: none;
  width: 50%;
  resize: none;
  min-height: 500px;
  overflow-y: auto;
  font-size: 24px;
  font-family: "Roboto Mono", "IBM Plex Mono", monospace;
  border-right: 1px dashed var(--border);
  outline: none;
  display: inline-block;
}

textarea::-webkit-scrollbar {
  display: none;
}

#md-html::-webkit-scrollbar {
  display: none;
}

textarea:click {
  outline: none;
}

#mdel {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding-bottom: 10px;
/*   border-bottom: 3px solid var(--border); */
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  height: 50px;
  overflow-y: hidden;
}

#md-html {
  background-color: var(--background);
  border: none;
  width: 47%;
  resize: none;
  min-height: 500px;
  overflow-y: auto;
  font-size: 24px;
  outline: none;
  display: inline-block;
  height: 50px;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Inter", "Helvetica", "Arial", sans-serif !important;
  margin-top: 0px;
  vertical-align: top;
}

#md-html > h1 {
  font-family: "Inter", "Helvetica", "Arial", sans-serif !important;
}

p {
  margin-block-start: 0px;
}

@media only screen and (max-width: 982px) {
  textarea {
    border: none;
    display: block;
    width: 100%;
  }
  #md-html {
    border-top: 1px solid var(--border);
    display: block;
    width: 100%;
  }
}

footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
  /*   border-top: 1px solid var(--border); */
  height: 30px;
  position: fixed;
  z-index: 9;
  background-color: var(--background);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.markme {
  font-family: "IBM Plex Mono", monospace;
}

pre > code {
  border-radius: 9px;
  background-color: #011627;
  font-family: "Roboto Mono", "IBM Plex Mono", monospace;
  transition: 0s linear !important;
}

.footer-text {
  font-family: "Roboto Mono", "IBM Plex Mono", monospace;
  float: right;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid var(--border);
}

h1 {
  color: var(--border);
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: calc(100vw / 12.5);
  font-weight: 740;
  line-height: 1;
}

p {
  font-size: 20px;
  line-height: 1.8em;
}

utestl,
li {
  font-size: 20px;
}

b,
i,
u,
em {
  color: black;
}

img {
  width: 100%;
}

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  border-left: 1px solid #cbcbcb; /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}

table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
  background-color: transparent;
}
table td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
table td {
  border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
  border-bottom-width: 0;
}

blockquote {
  border-left: 5px solid var(--border);
  background-color: #ff9494;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  margin-left: 0px;
}

blockquote > p {
  line-height: 25px;
  color: black !important;
}

#chars {
  margin-right: 30px;
  font-weight: bold;
}

#words {
  margin-right: 30px;
  font-weight: bold;
}

#toggle {
  float: right;
}

#download {
  float: right;
}

#modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#down-pop {
  z-index: 100;
  background-color: var(--background);
  border-radius: 3px;
  border: 3px solid var(--border);
  margin: auto; /* 15% from the top and centered */
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin-top: 15%;
  margin-left: 8vw;
  margin-right: 4vw;
  box-shadow:
    0 0px 2.2px rgba(0, 0, 0, 0.028),
    0 0px 5.3px rgba(0, 0, 0, 0.04),
    0 0px 10px rgba(0, 0, 0, 0.05),
    0 0px 17.9px rgba(0, 0, 0, 0.06),
    0 0px 33.4px rgba(0, 0, 0, 0.072),
    0 0px 80px rgba(0, 0, 0, 0.1)
  ;
  font-family: "Helvetica", "Arial", sans-serif;
  margin-bottom: 100px;
}

#github-modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#github-down-pop {
  z-index: 100;
  background-color: var(--background);
  border-radius: 3px;
  border: 3px solid var(--border);
  margin: auto; /* 15% from the top and centered */
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  width: 80%;
  margin-top: 15%;
  margin-left: 8vw;
  margin-right: 4vw;
  box-shadow:
    0 0px 2.2px rgba(0, 0, 0, 0.028),
    0 0px 5.3px rgba(0, 0, 0, 0.04),
    0 0px 10px rgba(0, 0, 0, 0.05),
    0 0px 17.9px rgba(0, 0, 0, 0.06),
    0 0px 33.4px rgba(0, 0, 0, 0.072),
    0 0px 80px rgba(0, 0, 0, 0.1)
  ;
  font-family: "Helvetica", "Arial", sans-serif;
  margin-bottom: 100px;
}

kbd {
  align-items: center;
  background: #fafafa;
  border: 1px solid #d0d0d0;
  border-bottom-width: 1px;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #222;
  display: inline-flex;
  font-size: 0.8706em;
  justify-content: center;
  line-height: 1.4;
  margin: 0 0.15em;
  min-width: 24px;
  padding: 0.15em 0.6em;
  font-family: "Fira Mono", "IBM Plex Mono", monospace;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}
 
.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 3px;
  padding: 5px 10px 4px;
  font-family: "Inter", "Helvetica", sans-serif;
}
 
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}
 
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
 
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
}
 
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
 
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
}
 
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
 
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 10px);
  margin-left: 0;
  margin-right: 0;
}
 
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
 
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 10px);
  margin-left: 0;
  margin-right: 0;
}
 
.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}
 
.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}
 
.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}
 
.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.center {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  display: inline-block;
  cursor: pointer;
}

#github-logo {
  height: 50px !important;
  width: 50px !important;
}

.sign-in {
  padding: 10px 20px;
  border-radius: 3px;
  border: 3px solid var(--border);
  background-color: var(--background);
}

.cancel {
  padding: 10px 20px;
  border-radius: 3px;
  border: 3px solid var(--border);
  background-color: var(--background);
}

.download-option {
  background-color: yellow;
  border-radius: 5px;
  padding: 10px 20px;
  color: black !important;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
}