@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://rsms.me/inter/inter.css');

body {
  --background: #BFEDEF;
  --foreground: black;
  --test: black;
  --border: #ff6b6b;
  background-color: var(--background);
}

button {
  background-color: var(--background);
  border: none;
  font-family: monospace;
  font-size: 30px;
  color: var(--border);
  margin-left: 15px;
  margin-right: 20px;
  cursor: pointer;
}

textarea {
  background-color: var(--background);
  border: none;
  width: 50%;
  resize: none;
  min-height: 700px;
  overflow-y: auto;
  font-size: 24px;
  font-family: 'IBM Plex Mono', monospace;
  border-right: 1px solid var(--border);
  outline: none;
  display: inline-block;
}

textarea:click {
  outline: none;
}

#mdel {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--border); 
}

#md-html {
  background-color: var(--background);
  border: none;
  width: 47%;
  resize: none;
  min-height: 700px;
  overflow-y: hidden;
  font-size: 24px;
  outline: none;
  display: inline-block;
  height: 50px;
  flex-direction: column;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

p {
  margin-block-start: 0px;
}


@media only screen and (max-width: 600px) {
  textarea {
    border: none;
    display: block;
    width: 100%;
  }
  #md-html {
    border-top: 1px solid var(--border);
    display: block;
    width: 100%;
  }
}

footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid var(--border);
  height: 30px;
  position: fixed;
  z-index: 9;
  background-color: var(--background);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.markme {
  font-family: "IBM Plex Mono", monospace;
}

pre > code {
  border-radius: 9px;
  background-color: #011627;
}

.footer-text {
  font-family: "IBM Plex Mono", monospace;
  float: right;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid var(--border);
}

h1 {
  color: var(--border);
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: calc(100vw / 12.5);
  font-weight: 740;
  line-height: 1;
}

p {
  font-size: 20px;
  line-height: 1.8em;
  color: #444;
}

ul,
li {
  font-size: 20px;
}

b,
i,
u,
em {
  color: black;
}

img {
  width: 100%;
}

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  border-left: 1px solid #cbcbcb; /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}

table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
  background-color: transparent;
}
table td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
table td {
  border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
  border-bottom-width: 0;
}

blockquote {
  border-left: 10px solid yellow;
  padding-left: 20px;
  font-family: "Raleway", "Times New Roman", sans-serif;
}

#chars {
 margin-right: 30px;
  font-weight: bold;
}

#words {
  margin-right: 30px;
  font-weight: bold;
}